In [1]:
import pandas as pd

df = pd.read_csv("data.csv", index_col=False)

df.head()

,Cereal,Manufacturer,Type,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Shelf,Potassium,Vitamins,Weight,Cups
0,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,1,70,25,1.00,0.75
1,Basic 4,G,C,130,3,2,210,2.0,18.0,8,3,100,25,1.33,0.75
2,Cheerios,G,C,110,6,2,290,2.0,17.0,1,1,105,25,1.00,1.25
3,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,2,45,25,1.00,0.75
4,Clusters,G,C,110,3,2,140,2.0,13.0,7,3,105,25,1.00,0.50

In [2]:
df[df["Manufacturer"] == "A"]

,Cereal,Manufacturer,Type,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Shelf,Potassium,Vitamins,Weight,Cups
74,Maypo,A,H,100,4,1,0,0.0,16.0,3,2,95,25,1.0,-1.0

In [3]:
numerical = ["Calories", "Protein", "Fat", "Sodium", 
                            "Fiber", "Carbohydrates", "Sugars",
                            "Potassium", "Vitamins", "Weight", "Cups"]

og_row_count = len(df.index)
print(f"Original rows: {og_row_count}")
# cleanup negative values
outed_data = [] 

for col in numerical:
    outed_data.append(df[df[col] < 0])
    df = df[df[col] >= 0]

outed_df = pd.concat(outed_data)

print(f"Cleaned rows for missing observations: {len(df.index) - og_row_count}")

# normalize by cups

Original rows: 77
Cleaned rows for missing observations: -12

In [4]:
outed_df

,Cereal,Manufacturer,Type,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Shelf,Potassium,Vitamins,Weight,Cups
76,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,1,110,0,1.00,0.67
66,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,3,-1,25,1.00,0.75
75,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,2,-1,0,1.00,1.00
70,"Muesli Raisins, Dates, & Almonds",R,C,150,4,3,95,3.0,16.0,11,3,170,25,-1.00,-1.00
71,"Muesli Raisins, Peaches, & Pecans",R,C,150,4,3,150,3.0,16.0,11,3,170,25,-1.00,-1.00
33,Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,3,60,100,1.00,-1.00
38,Nutri-grain Wheat,K,C,90,3,0,170,3.0,18.0,2,3,90,25,1.00,-1.00
46,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0,1,95,0,0.83,-1.00
49,Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,2,90,25,1.00,-1.00
59,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,3,135,0,1.00,-1.00
64,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,3,50,0,0.50,-1.00
74,Maypo,A,H,100,4,1,0,0.0,16.0,3,2,95,25,1.00,-1.00

In [5]:
df[df["Type"] == "H"]

Empty DataFrame
Columns: [Cereal, Manufacturer, Type, Calories, Protein, Fat, Sodium, Fiber, Carbohydrates, Sugars, Shelf, Potassium, Vitamins, Weight, Cups]
Index: []

In [6]:
for numeric in numerical:
    df[numeric] = df.apply(lambda row: row[numeric] * (1. / row['Cups']), axis=1)

In [7]:
df.groupby("Manufacturer")[numerical].describe().reset_index()

  Manufacturer Calories                                                  \
                  count        mean         std         min         25%
0            G     22.0  137.787879   44.996595   73.333333  110.000000
1            K     21.0  149.671017   45.773791  100.000000  110.000000
2            N      3.0  160.259310   44.913725  134.328358  134.328358
3            P      9.0  194.757760  122.899879   82.706767  113.636364
4            Q      5.0  135.850746   55.900693   50.000000  120.000000
5            R      5.0  124.852111   20.822995   97.345133  110.000000

                                      Protein  ...    Weight            Cups  \
          50%         75%         max   count  ...       75%       max count
0  136.666667  146.666667  260.000000    22.0  ...  1.333333  2.500000  22.0
1  146.666667  180.000000  238.805970    21.0  ...  1.985075  3.030303  21.0
2  134.328358  173.224785  212.121212     3.0  ...  2.261420  3.030303   3.0
3  146.666667  179.104478  440.000000     9.0  ...  1.985075  4.000000   9.0
4  149.253731  160.000000  200.000000     5.0  ...  1.492537  2.000000   5.0
5  133.333333  134.328358  149.253731     5.0  ...  1.492537  1.492537   5.0


  mean  std  min  25%  50%  75%  max
0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
1  1.0  0.0  1.0  1.0  1.0  1.0  1.0
2  1.0  0.0  1.0  1.0  1.0  1.0  1.0
3  1.0  0.0  1.0  1.0  1.0  1.0  1.0
4  1.0  0.0  1.0  1.0  1.0  1.0  1.0
5  1.0  0.0  1.0  1.0  1.0  1.0  1.0

[6 rows x 89 columns]

In [8]:
df.groupby(["Manufacturer", "Shelf"]).count()

                    Cereal  Type  Calories  Protein  Fat  Sodium  Fiber  \
Manufacturer Shelf
G            1           6     6         6        6    6       6      6
             2           7     7         7        7    7       7      7
             3           9     9         9        9    9       9      9
K            1           4     4         4        4    4       4      4
             2           7     7         7        7    7       7      7
             3          10    10        10       10   10      10     10
N            1           2     2         2        2    2       2      2
             3           1     1         1        1    1       1      1
P            1           2     2         2        2    2       2      2
             2           1     1         1        1    1       1      1
             3           6     6         6        6    6       6      6
Q            2           3     3         3        3    3       3      3
             3           2     2         2        2    2       2      2
R            1           4     4         4        4    4       4      4
             3           1     1         1        1    1       1      1

                    Carbohydrates  Sugars  Potassium  Vitamins  Weight  Cups
Manufacturer Shelf
G            1                  6       6          6         6       6     6
             2                  7       7          7         7       7     7
             3                  9       9          9         9       9     9
K            1                  4       4          4         4       4     4
             2                  7       7          7         7       7     7
             3                 10      10         10        10      10    10
N            1                  2       2          2         2       2     2
             3                  1       1          1         1       1     1
P            1                  2       2          2         2       2     2
             2                  1       1          1         1       1     1
             3                  6       6          6         6       6     6
Q            2                  3       3          3         3       3     3
             3                  2       2          2         2       2     2
R            1                  4       4          4         4       4     4
             3                  1       1          1         1       1     1

In [9]:
df.groupby("Shelf")[numerical].mean()

,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Potassium,Vitamins,Weight,Cups
Shelf,,,,,,,,,,,
1,119.477430,2.933008,0.662134,216.073433,2.009011,19.182432,6.295493,89.180796,24.849454,1.159816,1.0
2,129.816197,2.057698,1.341349,190.044223,1.040837,14.951769,12.507670,69.527363,29.030196,1.185652,1.0
3,180.146602,5.158900,1.944907,281.012960,6.783021,23.568264,10.856821,258.139202,55.904451,1.854696,1.0

In [10]:
df.groupby("Manufacturer")[numerical].mean()

,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Potassium,Vitamins,Weight,Cups
Manufacturer,,,,,,,,,,,
G,137.787879,2.884848,1.784848,240.393939,1.648485,17.693939,10.051515,109.196970,41.060606,1.298788,1.0
K,149.671017,3.918530,1.023476,242.789300,5.068602,19.795815,10.798201,184.959510,43.552126,1.531197,1.0
N,160.259310,7.025479,1.010101,131.313131,13.583597,24.453490,6.060606,412.181517,25.252525,2.005126,1.0
P,194.757760,4.698975,1.782024,253.731624,5.375622,24.281154,12.711416,203.874904,44.071820,1.859059,1.0
Q,135.850746,3.460697,1.930348,201.442786,1.597015,17.382090,9.591045,93.691542,29.129353,1.265174,1.0
R,124.852111,2.602862,0.597015,277.502752,2.356219,22.823035,4.973883,103.284859,31.016819,1.240673,1.0

In [11]:
df.groupby(["Manufacturer","Type"]).count()

,,Cereal,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Shelf,Potassium,Vitamins,Weight,Cups
Manufacturer,Type,,,,,,,,,,,,,
G,C,22,22,22,22,22,22,22,22,22,22,22,22,22
K,C,21,21,21,21,21,21,21,21,21,21,21,21,21
N,C,3,3,3,3,3,3,3,3,3,3,3,3,3
P,C,9,9,9,9,9,9,9,9,9,9,9,9,9
Q,C,5,5,5,5,5,5,5,5,5,5,5,5,5
R,C,5,5,5,5,5,5,5,5,5,5,5,5,5

In [12]:
df[numerical].corr()

,Calories,Protein,Fat,Sodium,Fiber,Carbohydrates,Sugars,Potassium,Vitamins,Weight,Cups
Calories,1.000000,0.706010,0.590176,0.528655,0.388218,0.788723,0.495294,0.476596,0.464556,0.918734,NaN
Protein,0.706010,1.000000,0.411266,0.572722,0.809640,0.547090,0.184848,0.841754,0.452608,0.867820,NaN
Fat,0.590176,0.411266,1.000000,0.259561,0.226071,0.182852,0.415674,0.323275,0.245351,0.501273,NaN
Sodium,0.528655,0.572722,0.259561,1.000000,0.495483,0.423562,0.211244,0.556643,0.427797,0.604240,NaN
Fiber,0.388218,0.809640,0.226071,0.495483,1.000000,0.203075,0.148916,0.963866,0.341237,0.697157,NaN
Carbohydrates,0.788723,0.547090,0.182852,0.423562,0.203075,1.000000,-0.040826,0.242048,0.369797,0.696752,NaN
Sugars,0.495294,0.184848,0.415674,0.211244,0.148916,-0.040826,1.000000,0.271833,0.190739,0.468778,NaN
Potassium,0.476596,0.841754,0.323275,0.556643,0.963866,0.242048,0.271833,1.000000,0.369304,0.768812,NaN
Vitamins,0.464556,0.452608,0.245351,0.427797,0.341237,0.369797,0.190739,0.369304,1.000000,0.493257,NaN
Weight,0.918734,0.867820,0.501273,0.604240,0.697157,0.696752,0.468778,0.768812,0.493257,1.000000,NaN
Cups,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN